@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Montserrat,'Courier New', Courier, monospace, sans-serif;
    /*background:#2b323c;*/
    background-color:#fff;
}

html{
    max-width:1540px;
    margin: 0 auto;
}

header{
    padding-top:4vh;
    padding-bottom:3vh;
   /* background-color:#686e76;*/
   /*background:#2b323c;*/
   background-color:#fff;
   font-weight:bolder;
}

#header-container{
    display:flex;
    flex-direction:row;
}

#name-div{
    width:20%;
}

#nav-div{
    width:80%;
    text-align:right;
}

header h2{
    color:#484848;
    font-size:calc(5px + 1.8vw);
    padding-left:2vw;
}

a{
    text-decoration:none;
}

nav li{
    display:inline;
    font-size:calc(1vw + 5px);
    margin-left:1vw;
    margin-right:1vw;
}

li:hover{
    color:rgb(68, 0, 255);
}

nav a{
    text-decoration: none;
    color:#484848;
}

.socials-icon{
    width:2.1%;
}

#page-title h1{
    font-size:calc(1px + 3vw);
    margin-top:10vh;
    margin-bottom:10vh;
    text-align:center;
}

/* footer */

footer{
    font-size:calc(5px + .5vw);
    text-align: center;
    margin:10vh auto;
}

/* Introduction section 1 */

#introduction-1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:auto;
    margin-bottom:14vh;
}

#intro-text{
    width:40%;
    margin:0 4vw;
}

#intro-text h1{
    color:#484848;
    margin-bottom:2vh;
    font-size:calc(5px + 1.8vw);
}

#intro-text p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .7vw);
    line-height: 170%;
}

#intro-image{
    width:35%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Introduction section 2 */

#introduction-2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:auto;
    margin-bottom:14vh;
}

#intro-text-2{
    width:40%;
    margin:0 4vw;
}

#intro-text-2 p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .7vw);
    line-height: 170%;
}

#intro-image-2{
    width:35%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.insta-link a{
    color:rgb(68, 0, 255);
    font-weight:bold;
}

/* Skills Section */

#skills{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:auto;
}

#skills-text-1{
    width:20%;
    margin:0 2vw 0 6vw;
}

#skills-text-2{
    width:20%;
    margin:0 2vw;
}

#skills-text-1 h1{
    color:#484848;
    margin-bottom:2vh;
    font-size:calc(5px + 1.8vw);
}

#skills-text-2 h1{
    color:#484848;
    margin-bottom:2vh;
    font-size:calc(5px + 1.8vw);
}

#skills-text-1 li{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .7vw);
    margin-left:3vw;
}

#skills-text-2 li{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .7vw);
    margin-left:3vw;
}

#skills-image{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
}

 /* Hide Hamburger Icon*/
 #hamnav label, #hamburger{display:none;}
 /* Small Screens */
 @media screen and (max-width:786px){
 /* Break into vertical menu */
 #ham-items{display:block;font-size: calc(2vw + 5px);}
 #ham-items a{
     display:block;
     width:100%;
     box-sizing:border-box;
     border-top:1px solid #fff;
     font-weight:bold;
 }
 /* Show Hamburger Icon */
 #hamnav label{
     display:inline-block;
     color:rgb(68, 0, 255);
     background:#fff;
     font-size:1.6em;
     padding:0 1vw;
 }
 /* Hide/collapse menu items for the default look */
 #ham-items{display:none;}
 #hamnav input:checked ~ #ham-items{display:block;}
 }

 @media only screen and (max-width:786px){
   /* html, body{width:90%;}*/
    header h2{padding-left:0;display:flex;justify-content: center;}
    #name-div{width:40%;}
    #name-div h2{font-size:calc(4px + 3.5vw);align-items: flex-end;}
    #nav-div{width:55%;}
    nav li{font-size: calc(3vw + 10px);}
    ul#ham-items{margin:4vh 0;}
    a{margin:6vh 0;}
    .socials-icon{width:10%;}
    #page-title h1{font-size:calc(1px + 3.5vw);}

    /* introduction section 1 */

    #introduction-1{flex-direction:column;margin:0 auto;}
    #intro-text{margin:2vh auto;width:70%;}
    #intro-text h1{font-size:calc(1px + 3.5vw);}
    #intro-text p{font-size:calc(1px + 2vw);}
    #intro-image{margin:0 auto;width:50%;}

    /* introduction section 2 */

    #introduction-2{flex-direction: column-reverse;margin:0 auto;}
    #intro-text-2{margin:4vh auto;width:70%;}
    #intro-text-2 p{font-size:calc(1px + 2vw);}
    #intro-image-2{margin:4vh auto;width:50%;}

    /* skills section */

    #skills{flex-direction: column;}
    #skills-image{margin:4vh auto;width:50%;}
    #skills-text-1{margin:4vh auto;width:auto;}
    #skills-text-1 li{font-size:calc(1px + 2vw);}
    #skills-text-1 h1{font-size:calc(1px + 3.5vw);}
    #skills-text-2{margin:4vh auto;width:auto;}
    #skills-text-2 li{font-size:calc(1px + 2vw);}
    #skills-text-2 h1{font-size:calc(1px + 3.5vw);}

 }

 @media only screen and (max-width:600px){
    /* html, body{width:100%;}*/
     header{margin-top:0;}
     header h2{margin-top:1vh;}
     #page-title h1{font-size:calc(1px + 4.5vw);}

     /* introduction section 1 */

    #introduction-1{flex-direction:column;margin:0 auto;}
    #intro-text{margin:2vh auto;width:90%;}
    #intro-text h1{font-size:calc(1px + 4.5vw);}
    #intro-text p{font-size:calc(1px + 3vw);}
    #intro-image{margin:0 auto;width:80%;}

    /* introduction section 2 */

    #introduction-2{flex-direction: column-reverse;margin:0 auto;}
    #intro-text-2{margin:4vh auto;width:90%;}
    #intro-text-2 p{font-size:calc(1px + 3vw);}
    #intro-image-2{margin:4vh auto;width:80%;}

    /* skills section */

    #skills{flex-direction: column;}
    #skills-image{margin:4vh auto;width:80%;}
    #skills-text-1{margin:4vh auto;width:auto;}
    #skills-text-1 li{font-size:calc(1px + 3vw);}
    #skills-text-1 h1{font-size:calc(1px + 4.5vw);}
    #skills-text-2{margin:4vh auto;width:auto;}
    #skills-text-2 li{font-size:calc(1px + 3vw);}
    #skills-text-2 h1{font-size:calc(1px + 4.5vw);}
 }

 @media only screen and (min-width:1540px){

    header h2{font-size:40px;}
    nav li{font-size:25px;}
    #page-title h1{font-size:60px;}
    #intro-text h1{font-size:40px;}
    #intro-text p{font-size:18px;}
    #intro-text-2 p{font-size:18px;}
    #skills-text-1 h1{font-size:35px;}
    #skills-text-2 h1{font-size:35px;}
    #skills-text-1 li{font-size:22px;line-height:30px;}
    #skills-text-2 li{font-size:22px;line-height:30px;}



 }