@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Montserrat,'Courier New', Courier, monospace, sans-serif;
    /*background:#2b323c;*/
    background-color:#fff;
}

/* Header (navigation bar, social links, etc) */

header{
    padding-top:4vh;
    padding-bottom:3vh;
   /* background-color:#686e76;*/
   /*background:#2b323c;*/
   background-color:#fff;
   font-weight:bolder;
}

#header-container{
    display:flex;
    flex-direction:row;
}

#name-div{
    width:20%;
}

#nav-div{
    width:80%;
    text-align:right;
}

header h2{
    color:#484848;
    font-size:calc(5px + 1.8vw);
    padding-left:2vw;
}

a{
    text-decoration:none;
}

nav li{
    display:inline;
    font-size:calc(1vw + 5px);
    margin-left:1vw;
    margin-right:1vw;
}

li:hover{
    color:rgb(68, 0, 255);
}

nav a{
    text-decoration: none;
    color:#484848;
}

.socials-icon{
    width:2.1%;
}

#page-title h1{
    font-size:calc(5px + 3vw);
    margin-top:10vh;
    margin-bottom:10vh;
    text-align:center;
}

/* Psyche Inspired Intro (at the top of the page) */

#introduction{
    width:55%;
    margin:0 auto;
}

#introduction h2{
    color:#484848;
    margin-bottom:2vh;
    font-size:calc(5px + 1.5vw);
}
#introduction p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

.pi-link a{
    color:rgb(68, 0, 255);
    font-weight:bold;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* All Nasa projects and timeline */

#nasa-projects{
    width:55%;
    margin:0 auto;
    height:40vh;
}

#nasa-projects h2{
    color:#484848;
    margin-top:8vh;
    margin-bottom:2vh;
    font-size:calc(5px + 1.5vw);
}
#nasa-projects p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

.project-link a{
    color:rgb(68, 0, 255);
    font-weight:bold;
}

/* link to actual NASA website (for each project's full official page) */

.nasa-link a{
    color:rgba(68, 0, 255, 0.507);
    font-weight:bold;
}

p.nasa-link {
    margin-top:60vh;
    margin-bottom:40vh;
    margin-right:16vw;
    border:3px groove rgba(68, 0, 255, 0.507);
    border-radius:20px 20px 20px 20px;
    padding:0.8vw;
    text-align:left;
    font-size:calc(5px + 1vw);
}

.nasa-link :hover{
    color:rgb(68, 0, 255);
}

/* Project 1 - Greetings from PSYCHE */

#project-1{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#project-1-info{
    width:40%;
    height:100vh;
}

#project-1-info h2{
    color:#484848;
    margin-top:8vh;
    margin-bottom:2vh;
    font-size:calc(5px + 1.5vw);
}

#project-1-info h3{
    color:#484848;
    margin-bottom:6vh;
    font-size:calc(5px + 1vw);
}

#project-1-info p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

 #project-1-images{
    width:40%;
    text-align:right;
    margin-top:9vh;
} 

/*.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: start;
    max-width: 700px;
    padding-left:6vw;
    padding-top:20vh;
    transition: all 150ms ease-in-out;
    justify-content:center;
  }
  
  .gallery input[type="radio"] {
    display: none;
  }
  
  .gallery label {
    position: relative;
    display: block;
    padding-bottom: 60%;
    margin: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .gallery label:before {
    border: 1px groove #e3e3e3;
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
  }
  
  .gallery img {
    display: none;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    transition: all 150ms linear;
  }
  
  .gallery input[name="select"]:checked + label + img {
    display: block;
  }
  
  .gallery input[name="select"]:checked + label:before {
    border: 1px groove rgb(68, 0, 255);
  } */

/* Project 1 - Greetings from PSYCHE Bonus Content */

#more-project-1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:60vh;
    margin-top:20vh;
}

#more-1-info{
    width:40%;
}

#more-1-info h3{
    color:#484848;
    margin-bottom:6vh;
    font-size:calc(5px + 1vw);
}

#more-1-info p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

#more-video{
    width:50%;
    text-align:center;
} 

/* Project 2 - PSYCHE for Atari 2600 */

#project-2{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#project-2-info{
    width:40%;
    height:150vh;
}

#project-2-info h2{
    color:#484848;
    margin-top:8vh;
    margin-bottom:2vh;
    font-size:calc(5px + 1.5vw);
}

#project-2-info h3{
    color:#484848;
    margin-bottom:6vh;
    font-size:calc(5px + 1vw);
}

#project-2-info p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

#project-2-images{
    width:100%;
    text-align:right;
} 

#project-2-image{
    width:40%;
    text-align:right;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-content: start;
    max-width: 700px;
    padding-left:10vw;
    padding-right:0;
    padding-top:9vh;
    transition: all 150ms ease-in-out;
    justify-content:right;
  }
  
  .gallery input[type="radio"] {
    display: none;
  }
  
  .gallery label {
    position: relative;
    display: block;
    padding-bottom: 60%;
    margin: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .gallery label:before {
    border: 1px groove #e3e3e3;
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
  }
  
  .gallery img {
    display: none;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    transition: all 150ms linear;
  }
  
  .gallery input[name="select"]:checked + label + img {
    display: block;
  }
  
  .gallery input[name="select"]:checked + label:before {
    border: 1px groove rgb(68, 0, 255);
  }

/* Project 3 - Psyche Metal Pins */

#project-3{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#project-3-info{
    width:40%;
    height:100vh;
}

#project-3-info h2{
    color:#484848;
    margin-top:8vh;
    margin-bottom:2vh;
    font-size:calc(5px + 1.5vw);
}

#project-3-info h3{
    color:#484848;
    margin-bottom:6vh;
    font-size:calc(5px + 1vw);
}

#project-3-info p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

#project-3-images{
    width:40%;
    text-align:left;
} 

#project-3-images img{
    margin-top:9vh;
} 

/* Project 4 - Mind and Soul */

#project-4 {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#project-4-info{
    width:40%;
    height:100vh;
}

#project-4-info h2{
    color:#484848;
    margin-top:8vh;
    margin-bottom:2vh;
    font-size:calc(5px + 1.5vw);
}

#project-4-info h3{
    color:#484848;
    margin-bottom:6vh;
    font-size:calc(5px + 1vw);
}

#project-4-info p{
    color:#484848;
    margin-top:2vh;
    margin-bottom:2vh;
    font-size:calc(5px + .8vw);
    line-height: 170%;
}

#project-4-images{
    width:40%;
    text-align: right;
} 

