@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Montserrat,'Courier New', Courier, monospace, sans-serif;
    /*background:#2b323c;*/
    background-color:#fff;
}

html{
    max-width:1540px;
    margin: 0 auto;
}

/*header*/

header{
    padding-top:4vh;
    padding-bottom:3vh;
   /* background-color:#686e76;*/
   /*background:#2b323c;*/
   background-color:#fff;
   font-weight:bolder;
}

#header-container{
    display:flex;
    flex-direction:row;
}

#name-div{
    width:20%;
}

#nav-div{
    width:80%;
    text-align:right;
}

header h2{
    color:#484848;
    font-size:calc(5px + 1.8vw);
    padding-left:2vw;
}

a{
    text-decoration:none;
}

nav li{
    display:inline;
    font-size:calc(1vw + 5px);
    margin-left:1vw;
    margin-right:1vw;
}

li:hover{
    color:rgb(68, 0, 255);
}

nav a{
    text-decoration: none;
    color:#484848;
}

.socials-icon{
    width:2.1%;
}

/* footer */

footer{
    font-size:calc(5px + .5vw);
    text-align: center;
    margin:10vh auto;
}

/* page title */

.type-effect{
    width:100%;
    margin-top:6vh;
    color:#484848;
    display:flex;
    justify-content: center;
}

.type-effect h1{
    font-size:calc(5px + 2vw);
    font-weight:600;
}

.auto-type{
    color:rgb(68, 0, 255);
}

#page-title h1{
    font-size:calc(5px + 3vw);
    margin-top:2vh;
    margin-bottom:10vh;
    text-align:center;
}

/* projects */

div#projects{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
   /* background-color:aqua;*/
}

.category{
    width:45%;
    margin:2vw;
    height:auto;
    translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px);
  opacity: 1;
}

.category h1{
    text-align:center;
    margin:2vw;
    font-size:calc(5px + 1.5vw);
}

.category h2{
    text-align:center;
    margin:2vw;
    font-size:calc(5px + .8vw);
}

.category:hover{
    transform: scale(1.02, 1.02);
    transition-duration: .3s;
}

.category:not(:hover){
    width:45%;
    margin:2vw;
    height:auto;
    transform: scale(1, 1);
    transition-duration: .3s;
}

 /* Hide Hamburger Icon*/
 #hamnav label, #hamburger{display:none;}

 /* Small Screens */
 @media screen and (max-width:786px){

 /* Break into vertical menu */
 #ham-items{display:block;font-size: calc(2vw + 5px);}
 #ham-items a{
     display:block;
     width:100%;
     box-sizing:border-box;
     border-top:1px solid #fff;
     font-weight:bold;
 }

 /* Show Hamburger Icon */
 #hamnav label{
     display:inline-block;
     color:rgb(68, 0, 255);
     background:#fff;
     font-size:1.6em;
     padding:0 1vw;
 }

 /* Hide/collapse menu items for the default look */
 #ham-items{display:none;}
 #hamnav input:checked ~ #ham-items{display:block;}
 }

@media only screen and (max-width:786px){
    /* html, body{width:90%;}*/
     header h2{padding-left:0;display:flex;justify-content: center;}
     #name-div{width:40%;}
     #name-div h2{font-size:calc(4px + 3.5vw);align-items: flex-end;}
     #nav-div{width:55%;}
     nav li{font-size: calc(3vw + 10px);}
     ul#ham-items{margin:4vh 0;}
     a{margin:6vh 0;}
     .socials-icon{width:10%;}
}

@media only screen and (max-width:600px){
    /* html, body{width:100%;}*/
     header{margin-top:0;}
     header h2{margin-top:1vh;}
     div#projects{flex-direction:column;align-items:center;flex-wrap:nowrap;width:100%;}
     .category{width:100%;}
     .category h1{font-size:calc(1px + 3.5vw);}
     .category h2{font-size:calc(1px + 2.5vw);}
     .category:not(:hover){width:90%;margin-top:6vh;}
     .type-effect h1{font-size:calc(1px + 4vw);}
     #page-title h1{font-size:calc(1px + 5vw);}
}